# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

hmvoiceecommerce.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
hmvoiceecommerce.application-context=hmvoiceecommerce-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.hmvoiceecommerce=classpath:/hmvoiceecommerce/web/spring/hmvoiceecommerce-web-spring.xml



hmvoiceecommerce.javascript.paths.responsive=/responsive/common/js/hmvoiceecommerce.js
hmvoiceecommerce.css.paths.responsive=/responsive/common/css/hmvoiceecommerce.css
